.login-pane {
  flex-direction: row;
  width: 1200px;
  height: 600px;
  border-radius: var(--BORDER-RADIUS-M);
  background-color: var(--BG-LOGIN);
  box-shadow: var(--SHADOW-S);
}

.login-pane .left-pane {
  flex: 2;
  gap: 20px;
}
.left-pane .logo-pane {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.login-pane .logo {
  width: 200px;
  height: 200px;
}
.left-pane .info-pane {
  flex: 1;
  align-items: center;
}
.info-pane .info {
  width: 75%;
  font-size: 13px;
  line-height: 20px;
  color: var(--WHITE);
}

.login-pane .right-pane {
  flex: 1.25;
}

.right-pane .title-pane {
  flex: 1.25;
  align-items: center;
  justify-content: flex-end;
}

.right-pane .input-pane {
  flex: 1.75;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.input-pane .icon {
  object-fit: contain;
}
.input-pane .input {
  padding: 0 10px;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 35px;
  color: var(--WHITE);
  border-radius: var(--BORDER-RADIUS-S);
  background-color: var(--BG-INPUT);
}
.input-pane .login-btn {
  width: 54.5%;
  height: 35px;
  margin-top: 5px;
  color: var(--WHITE);
  border-radius: var(--BORDER-RADIUS-S);
  background-color: var(--ORANGE);
}
.input-pane .register-btn {
  color: var(--ORANGE);
  width: 54.5%;
  align-items: flex-end;
}

.right-pane .services-pane {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
