@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Noto+Serif&family=Raleway:wght@200&display=swap");
html,
body,
div,
p,
button,
input {
  font-family: "Raleway", "sans-seri";
  margin: 0;
  padding: 0;
}

div,
input,
button {
  display: flex;
}

button,
input {
  border: none;
}
button,
input:focus {
  outline: none;
}

body #root {
  flex: 1;
  height: 100vh;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

:root {
  --FONT-SIZE-S: 10px;
  --FONT-SIZE-M: 15px;
  --FONT-SIZE-L: 30px;
  --BORDER-RADIUS: 10px;
}
