html,
body,
div,
p,
button,
input {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

div,
input,
button {
  display: flex;
}

button,
input {
  border: none;
}
button,
input:focus {
  outline: none;
}

body #root {
  flex: 1;
  height: 100vh;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

:root {
  --BG-LOGIN: #181a1c;
  --BG-LOGIN-PANE: #1c1e1f;

  --BG-INPUT: #222425;

  --ORANGE: #ff6b03;
  --BLUE: #2f4684;
  --WHITE: #ffffff;
  --BLACK: #181818;

  --FONT-COLOR: #e7e7e7;

  --FONT-SIZE-S: 10px;
  --FONT-SIZE-M: 15px;
  --FONT-SIZE-L: 30px;

  --BORDER-RADIUS-S: 7.5px;
  --BORDER-RADIUS-M: 10px;
  --BORDER-RADIUS-L: 12.5px;
  --BORDER-RADIUS-XL: 15px;
}
