html,
body,
div,
p,
button,
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

div,
input,
button {
  display: flex;
}

button,
input {
  border: none;
}
button,
input:focus {
  outline: none;
}

body #root {
  flex: 1;
  height: 100vh;
}

:root {
  --FONT-SIZE-S: 10px;
  --FONT-SIZE-M: 10px;
  --FONT-SIZE-L: 10px;
}
